@tailwind base;
@tailwind components;
@tailwind utilities;


/* Media query for larger screens (e.g., monitors) */
@media only screen and (min-width: 1024px) {
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F0F4FD;
}

.body{
  display: flex;
  flex-direction: row;
}

.displayBox{
  display: flex;
  flex-wrap: wrap;
  margin-left: 460px;
  width: 80%;
}

.sideBar{
  background-color: #9EB4E6;
  width: 400px;
  height: 100vh;
  box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sideBar h1{
  font-size: 3rem;
  margin-bottom: 40px;
  color: white;
  font-weight: 700;
}

.sideBar2{
  background-color: #9EB4E6;
  width: 400px;
  height: 100vh;
  box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.start{
  background-color: #0BC069;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
}

.start:hover{
  background-color: #07a056;
}

.pause:hover{
  background-color: #bd4444;
}

.pause{
  background-color: #D25F5F;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
}

.timeBox{
  background-color: white;
  font-size: 3rem;
  width: 250px;
  height: 100px;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  border-radius: 10px;
  font-size: 1.5rem;
  height: 70px;
  width: 300px;
  padding-left: 10px;
}

.create{
  background-color: white;
  border-radius: 10px;
  font-size: 2rem;
  height: 70px;
  width: 300px;
  box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
  margin: 10px 0 30px 0;
}

.create:hover{
  background-color: rgb(238, 238, 238);
}

.positioning{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  gap: 20px;
}

.projectBox{
  width: 300px;
  height: 130px;
  margin: 25px;
  border-radius: 10px;
  border: #6276A3 5px solid;  
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.projectBox button{
  color: #9EB4E6;
  font-size: 2rem;
  padding: 10px;
}

.projectBox p{
  font-size: 2rem;
  padding: 10px 10px 0px 15px;
}

.projectBox h3{
  padding-left: 15px;
}

.bp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5px;
}

.ttBox{
    background-color: white;
    font-size: 2rem;
    padding: 15px;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
}

  .projectDisplayBox{
    display: flex;
    flex-direction: column;
    margin-left: 460px;
  }

  .projectDisplayBox h2{
    font-size: 3rem;
    margin-top: 20px;
    font-weight: 700;
  }

  .back{
    color: white;
    font-size: 4rem;
    margin-top: 10PX;
  }
}


/* Media query for phones */
@media only screen and (max-width: 767px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #F0F4FD;
  }
  
  .body{
    display: flex;
  }

  .displayBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
  }

  .sideBar{
    background-color: #9EB4E6;
    width: 100%;
    height: 25%;
    box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
    position: fixed;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sideBar2{
    background-color: #9EB4E6;
    width: 100%;
    height: 25%;
    box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
    position: fixed;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sideBar h1{
    font-weight: 700;
  }
  
   .start{
    background-color: #0BC069;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
  }
  
  .start:active{
    background-color: #07a056;
  }
  
  .pause:active{
    background-color: #bd4444;
  }
  
  .pause{
    background-color: #D25F5F;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
  } 

  
   .box{
    background-color: white;
    border-radius: 10px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  } 
   .fixing{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .buttonsFixing{
    display: flex;
    gap: 10px;
    margin: 5px;
  } 

  .input{
    border-radius: 10px;
    padding-left: 10px;
    margin: 5px;
    font-size: 1.3rem;
    padding: 10px;
    width: 200px;
  }
  
  .create{
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
    margin: 5px;
    font-size: 1.4rem;
    padding: 10px;
  }
  
  .create:active{
    background-color: rgb(238, 238, 238);
  }

  
  .projectBox{
    width: 300px;
    height: 100px;
    margin: 15px;
    border-radius: 10px;
    border: #6276A3 5px solid;  
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
   
  .projectBox button{
    color: #9EB4E6;
    font-size: 1.8rem;
    padding: 6px;
  }

  .projectBox button:active{
    color: #768cc1;
  }
  
  .projectBox p{
    font-size: 1.4rem;
    padding: 10px 10px 0px 10px;
  }

  .projectBox h3{
    padding-left: 10px;
  }

  .bp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5px;
  }

  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .positioning{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

   .ttBox{
    background-color: white;
    font-size: 2rem;
    padding: 15px;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
}

  .projectDisplayBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 45%;
  }

  .projectDisplayBox h2{
    font-size: 3rem;
    margin-top: 20px;
    font-weight: 700;
  }

  .back{
    color: white;
    font-size: 3rem;
    margin-top: 10PX;
  }
}